.Message_error{
    border: #ed0505 1px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #e89b9b;
    color: #ed0505;
    text-align: center;
}

.Message_success{
    border: #024000 1px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #c1f5bf;
    color: #024000;
    text-align: center;
}