header{
    display: flex;
    justify-content:right;
    vertical-align: middle;
    color: #FFF;
}
header ul{
    display: flex;
    justify-content:right;
    list-style-type: none;
}

header ul li a{
    color: #fff;
    list-style-type: none;
    margin-right: 2em;
}

