header{
    background-color:  rgb(0, 0, 0);
    color: #fff;
    width: 100vw;
    height: 10vh;
}
main{
    background-color: #FFF;
    color: rgb(0, 0, 0);
    width: 100vw;
    height: 80vh;
    text-align: center;
    vertical-align: middle;
}
footer{
    background-color:  rgb(0, 0, 0);
    color: #fff;
    width: 100vw;
    height: 10vh;
}

.login{
    border: #ccc 1px solid;
    border-radius: 10px;
    padding: 5em;
    margin: 2em 15em 2em 15em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.login form div{
    margin: 2em;
    
}